{% extends 'base.html' %}
{% load i18n %}
{% block title %} Accueil {% endblock %}
{% block content %}


<h1>
  {% if user.is_authenticated %}
  <a class="btn pull-right btn-success" href="{% url 'blog:news_create' %}" class="btn btn-success"><i
      class="fa fa-fw fa-map-marker-alt"></i><strong>
      {% trans 'Nouvelle actualité' %}</strong></a>
  {% endif %}
  <i class="{{ icon | safe }}"></i> {{ title }}
</h1>
<div class="row">
  <div class="col-lg-12">
    {% for object in object_list %}
    <div class="panel panel-default panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title"><a href="{% url 'blog:news_detail' pk=object.id_actu %}"><i class="fi-align-left"></i>
            {{ object.title }}</a></h2>
      </div>
      <div class="panel-body">
        <p>
          <small>
            {% if user.is_resp or user.access_all_data or user.edit_all_data or user.is_staff or user.is_superuser %}
            <a href="{% url 'blog:news_update' pk=object.id_actu %}" class="btn btn-xs btn-primary"><i
                class="fa fa-fw fa-edit"></i></a> {% endif %}
            créé le <b>{{ object.timestamp_create }}</b>
            par <b>{{ object.created_by.full_name }}</b>
            {% if object.updated_by %}| mis à jour le {{ object.timestamp_update }} par
            {{ object.updated_by.full_name }}{% endif %}
          </small>
        </p>
        <div class="well well-sm">{{ object.briefdescr|safe }}</div>
        <p class="text-right"><a href="{% url 'blog:news_detail' pk=object.id_actu %}"
            class="btn btn-sm btn-primary">Lire la suite
            ...</a></p>
      </div>
    </div>
    {% empty %}
    <div class="well">
      <div class="columns callout">Aucune actualité pour le moment.</div>
    </div>
    {% endfor %}

    {% if is_paginated %}
    <nav aria-label="table_navigation" class="pull-right" style="margin-top:5px;margin-bottom:5px">
      <ul class="pagination pagination-sm">
        {% if page_obj.has_previous %}
        {% block pagination.previous %}
        <li class="page-item">
          <a class="btn btn-success"
            href="{% url 'blog:news_list' %}?page={{ page_obj.previous_page_number }}">{% trans 'Précédent' %}</a>
        </li>
        {% endblock pagination.previous %}
        {% endif %}
        {% if table.page.has_previous or table.page.has_next %}
        {% block pagination.cardinality %}
        <li class="page-item">
          <a class="page-link" href="#">
            {% blocktrans with page_obj.number as current and page_obj.paginator.num_pages as total %}
            Page
            {{ current }} of {{ total }}{% endblocktrans %}</a>
        </li>
        {% endblock pagination.cardinality %}
        {% endif %}
        {% if page_obj.has_next %}
        {% block pagination.next %}
        <li class="page-item">
          <a class="btn btn-success"
            href="{% url 'blog:news_list' %}?page={{ page_obj.next_page_number }}">{% trans 'Suivant' %}</a>
        </li>
        {% endblock pagination.next %}
        {% endif %}
      </ul>
    </nav>
    {% endif %}
  </div>
</div>
{% endblock %}
