{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Activation Failure" %}{% endblock %}

{% block content %}
    <p>{% trans "Account activation failed." %}</p>
{% endblock %}


{% block registration_title %}<i class="fa fa-fw fa-user-cog"></i> {% trans "Activation Failure" %}{% endblock %}

{% block registration_body %}
    <div class="row">
        <div class="col-sm-12 col-md-10  col-md-offset-1">
            <div style="text-align: center;" class="text-danger">
                <i class="fa fa-exclamation-triangle fa-5x"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-10  col-md-offset-1 ">
            <p>{% trans "Account activation failed." %}</p>
        </div>
    </div>

{% endblock %}

{% block registration_footer %}
    <p align="center">
        {% trans "Forgot your password?" %} <a
            href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>. <br>
        {% trans "Not a member?" %} <a
            href="{% url 'registration_register' %}">{% trans "Register" %}</a>.
    </p>
{% endblock %}



{% comment %}
**registration/activate.html**

Used if account activation fails. With the default setup, has the following context:

``activation_key``
    The activation key used during the activation attempt.
{% endcomment %}
