{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Logged out" %}{% endblock %}



{% block registration_title %}<i class="fa fa-fw fa-sign-in-alt"></i> {% trans "Logged out" %}{% endblock %}

{% block registration_body %}
    <div class="row">
        <div class="col-sm-12 col-md-10  col-md-offset-1">
            <div style="text-align: center;">
                <i class="fa fa-user-circle fa-5x"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-10  col-md-offset-1 ">
            <p>{% trans "Successfully logged out" %}.</p>
        </div>
    </div>

{% endblock %}

{% block registration_footer %}
    <p align="center">
        {% trans "Forgot your password?" %} <a
            href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>. <br>
        {% trans "Not a member?" %} <a
            href="{% url 'registration_register' %}">{% trans "Register" %}</a>.
    </p>
{% endblock %}
