{% extends "registration/registration_base.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}{% trans "Reset password" %}{% endblock %}



{% block registration_title %}<i class="fa fa-fw fa-lock"></i> {% trans "Reset password" %}{% endblock %}

{% block registration_body %}

    <div class="row">
        <div class="col-sm-12 col-md-10  col-md-offset-1">
            <div style="text-align: center;" class="text-info">
                <i class="fa fa-user-lock fa-5x"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-10  col-md-offset-1 ">
            <p>
                {% blocktrans %}
                    Forgot your password? Enter your email in the form below and we'll send you instructions for
                    creating a new one.
                {% endblocktrans %}
            </p>
            <form method="post" action="">
                {% csrf_token %}
                {{ form | crispy }}
                <input class="btn btn-warning btn-block" type="submit" value="{% trans 'Reset password' %}"/>
            </form>
        </div>
    </div>

{% endblock %}



{# This is used by django.contrib.auth #}
