{% load i18n %}
{% load static %}
<nav class="navbar navbar-default navbar-fixed-top" id="sidebar-wrapper" role="navigation">
  <ul class="nav sidebar-nav">
    <li class="sidebar-brand">
      <a href="/"><img src="{% static 'img/dbchiro_main_logo.svg' %}" loading="lazy">
        dbChiro<sub>[web]</sub></a>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-user-circle"></i>
        {% trans 'Mon compte' %}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li>
          <a href="{% url 'accounts:myprofile_detail' %}"><i class="far fa-fw fa-id-card"></i>
            {% trans 'Mon profil' %}</a>
        </li>
        <li>
          <a href="{% url 'accounts:myprofile_update' %}"><i class="fa fa-fw fa-user-edit"></i>
            {% trans 'Modifier Mon profil' %}</a>
        </li>
        <li>
          <a href="{% url 'accounts:change_password' %}"><i class="fa fa-fw fa-key"></i>
            {% trans 'Modifier mon mot de passe' %}</a>
        </li>
            <li><a href="{% url 'exports:export_list' %}"><i class="fa fa-fw fa-download"></i>
              {% trans 'Mes exports' %}</a></li>
      </ul>
    </li>
    {# Fin du menu du compte utilisateur #}

    {% if user.is_authenticated %} {# Début du menu des Observations #}
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-eye"></i>
        {% trans 'Observations' %} <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="{% url 'sights:metaplace_search' %}"><i class="fas fa-fw fa-draw-polygon"></i>
            {% trans 'Métasites' %}</a></li>
    </li>
    <li><a href="{% url 'sights:place_search' %}"><i class="fa fa-fw fa-map-marker-alt"></i><span
          class="hide-for-small-only">
          {% trans 'Localités' %}</span></a></li>
    </li>
    <li><a href="{% url 'sights:session_search' %}"><i class="far fa-fw fa-calendar-alt"></i><span
      class="hide-for-small-only">
      {% trans 'Sessions' %}</span></a></li>
</li>
    <li>
      <a href="{% url 'sights:sighting_search' %}"><i class="fa fa-fw fa-list"></i>
        {% trans 'Observations' %}</a>
    </li>
    <li><a href="{% url 'management:study_list' %}"><i class="far fa-fw fa-clipboard"></i>
      {% trans 'Etudes' %}</a></li>
  </ul>
  </li>
  {# Fin du menu des Observations #}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-fw fa-chart-pie" aria-hidden="true"></i> {% trans 'Synthèse' %} <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="{% url 'synthesis:global_contrib' %}"><i class="fa fa-fw fa-chart-line" aria-hidden="true"></i>
          {% trans 'Statistiques générales' %}</a>
      </li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'synthesis:specie_distribution' %}"><i class="fa fa-fw fa-chart-line"
            aria-hidden="true"></i>
          {% trans 'Cartes de répartition' %}</a>
      </li>
      {% endif %}
    </ul>
  </li>
  {# Début du menu de gestion #}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-paperclip"></i>
      {% trans 'Gestion' %}<span class="caret"></span>
    </a>

    <ul class="dropdown-menu">
      {% if user.is_resp or user.access_all_data or user.edit_all_data or user.is_staff or user.is_superuser %}
      <li><a href="{% url 'accounts:user_search' %}"><i class="fa fa-fw fa-list-alt"></i>
          {% trans 'Observateurs' %}</a>
      </li>
      <li><a href="{% url 'blog:news_list' %}"><i class="fa fa-fw fa-plus"></i> {% trans 'Actualités' %}</a>
      </li>
      {% endif %}
      <li><a href="{% url 'management:transmitter_list' %}"><i class="fa fa-fw fa-podcast"></i>
          {% trans 'Marqueurs' %}</span></a>
      </li>
  </li>
  <li><a href="{% url 'management:catchauth_list' %}"><i class="fa fa-fw fa-list"></i>
      {% trans 'Textes réglementaires' %}</a>
  </li>
  </ul>
  </li>
  {# Fin du menu de gestion #}
  {% if user.is_authenticated %}
  <li>
    <a href="{% url 'auth_logout' %}">
      <i class="fa fa-fw fa-sign-out-alt" aria-hidden="true"></i> {% trans 'Se déconnecter' %}
      ({{ user.username }})
    </a>
  </li>
  {% endif %}
   {% if user.is_superuser %}
   <li><a href="{% url 'core:sysinfo' %}"><i class="fa fa-fw fa-info"></i> {% trans 'Informations système' %}
   </a></li>
  <li><a href="{% url 'admin:index' %}"><i class="fa fa-fw fa-cogs"></i> {% trans 'Administration du site' %}
    </a></li>
  {% endif %} {% else %}
  <li>
    <a href="{% url 'registration_register' %}"><i class="fa fa-fw fa-sign-in-alt" aria-hidden="true"
        alt="Mot de passe oublié"></i> {% trans "S'enregistrer ?" %}
    </a>
  </li>
  <li>
    <a href="{% url 'auth_login' %}" alt="Se connecter"><i class="fa fa-fw fa-sign-in-alt" aria-hidden="true"></i>
      {% trans 'Se connecter' %}</a>
  </li>
  <li>
    <a href="{% url 'auth_password_reset' %}" alt="{% trans "Reset it" %}">
      <i class="fa fa-fw fa-lock" aria-hidden="true" alt="Se connecter"></i> {% trans "Forgot your password?" %}
    </a>
  </li>

  {% endif %}
  </ul>
</nav>
<button type="button" class="sidebar-open-icon is-closed" data-toggle="offcanvas" title="Menu">
  <i class="fas fa-chevron-circle-right fa-2x ontop"></i>
</button>
