{% load static i18n %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img alt="logo" height="30px" src="/media/logo_site.png" loading="lazy" />

      </a>
      <span class="navbar-text">{{SITE_NAME}}</span>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li><a href="#" class="navbar-link" data-toggle="modal" data-target="#searchPlace">
            <i class="fas fa-search-location"></i> {% trans 'Recherche rapide' %}
          </a></li>
        <li><a class="navbar-link" href="{% url 'accounts:myprofile_detail' %}" title="{% trans 'Mon profil' %}"><i
              class="fa fa-user-circle"></i>
            {{ user.get_username }}</a></li>
        <li><a class="navbar-link" href="{% url 'auth_logout' %}" title="{% trans 'Se déconnecter' %}"><i
              class="fa fa-fw fa-sign-out-alt" aria-hidden="true"></i> {% trans 'Se déconnecter' %}
          </a></li>
        {% else %}
        <li><a class="navbar-link" href="{% url 'auth_login' %}" title="{% trans 'Se connecter' %}"><i
              class="fa fa-fw fa-sign-in-alt" aria-hidden="true"></i> {% trans 'Se connecter' %}
          </a></li>
        {% endif %}
      </ul>

    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
{% if user.is_authenticated %}
<div id="searchPlace" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><i class="fas fa-fw fa-search-location"></i>{% trans 'Rechercher rapidement une localité' %}
        </h4>
      </div>
      <div class="modal-body">
        <form id="TopBarPlaceSearch">
          <div class="form-group">
            <header-place-select type="text" class="form-control" placeholder="Search" v-model="id_place">
            </header-place-select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">{% trans 'Fermer' %}</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
