{% extends "base_fullwidth.html" %}
{% block content %}
<div id="UserList">
  <h1>
    <span class="pull-right">
      <a href="{% url 'accounts:user_create' %}" target="_blank" class="btn btn-success" data-toggle="tooltips"
        title="Ajouter un nouvel observateur">
        <i class="fa fa-fw fa-user-plus"></i> Nouvel observateur
      </a>
    </span>
    <i class="{{ icon | safe }}"></i> {{ title | safe }} {{object.name}}
  </h1>
  <div class="row">
    <div class="col col-xs-12 col-sm-4 col-md-3 col-lg-2">
      <div class="panel">
        <div class="panel-body">
          <span class="label label-success pull-right">[[data.count ? data.count: 0]] résultats</span>
          <p><i class="fa fa-search fa-fw"></i>Rechercher</p>
          <form v-on:keyup.enter="search()">
            <div class="form-group">
              <label for="searchSearch">Nom / Prénom / Pseudo</label>
              <input class="form-control" id="searchSearch" type="text" placeholder="Nom" v-model="filters.search">
            </div>
            <div class="form-group">
              <label for="searchEmail">Email</label>
              <input class="form-control" id="searchEmail" type="text" placeholder="Email" v-model="filters.email">
            </div>
            <div class="form-group">
              <label for="searchEmail">Organisme</label>
              <organism-select v-model="filters.organisms__id"  />
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" v-model="filters.is_active">Actif
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" v-model="filters.is_resp">Responsable local
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" v-model="filters.edit_all_data">Peut éditer toutes les données
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" v-model="filters.access_all_data">Peut voir toutes les données
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" v-model="filters.export_all_data">Peut exporter toutes les données
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" v-model="filters.gcu_accepted">CGU acceptées
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" v-model="filters.created_by" :true-value="userId" :false-value="null"> Créé par
                moi
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" v-model="filters.updated_by" :true-value="userId" :false-value="null"> Modifié
                par moi
              </label>
            </div>
            <input type="text" @click="search()" class="btn btn-block btn-primary btn-sm" value="Rechercher">
          </form>

        </div>
      </div>
    </div>
    <div class="col col-xs-12 col-sm-8 col-md-9 col-lg-10">
      <div class="list-group scroll-y-auto study-data-panel">
        <div class="list-group-item" v-for="(s, i) in usersList">
          <h4 class="list-group-item-heading">
            {% comment %} <div class="btn-group btn-group-sm pull-right"> {% endcomment %}
              <div class="pull-right">
                <a class="txt-primary" :href="`/accounts/${s.id}/detail`" target="_blank"
                  title="Voir les informations de l'observateur"><i class="fa fa-fw fa-info-circle"></i></a>
                <a class="txt-default" :href="`/user/${s.id}/sighting/list`" target="_blank"
                  title="Voir ses observations"><i class="fa fa-fw fa-eye"></i></a>
                <a class="txt-warning" @click='openSwitchUserStatusModal(s)'
                  :title="s.is_active ? 'Désactiver':'Activer'"><i class="far fa-fw"
                    :class="{'fa-square' : s.is_active, 'fa-check-square': !s.is_active}"></i></a>
                <a class="txt-success" :href="`/accounts/${s.id}/update`" target="_blank"
                  title="Editer les informations de l'observateur"><i class="fa fa-fw fa-edit"></i></a>
              </div>
              <a :href="`/accounts/${s.id}/detail`" target="_blank" title="Voir la fiche de l'étude">[[s.full_name]]</a>
          </h4>
          <span class="text-muted">Créé le [[new Date(s.timestamp_create).toLocaleDateString()]][[s.timestamp_update ?
            `, mis à jour le ${new
            Date(s.timestamp_update).toLocaleDateString()}`:'']][[s.last_login ?
            `, Dernière connexion le ${new
            Date(s.last_login).toLocaleDateString()}`:'']]</span>
          <div class="list-group-item-text row">
            <div class="col col-md-6">
              <dl class="dl-horizontal">
                <dt>Identifiant unique</dt>
                <dd><code onclick="copyTextContent(this)" id="uuidToCopy" data-toggle="tooltip" data-placement="right"
                    title="Cliquez pour copier">[[s.uuid]]</code></dd>
                <dt>Pseudo</dt>
                <dd><kbd>[[s.username]]</kbd></dd>
                <dt>Email</dt>
                <dd>[[s.email]]</dd>
                <dt>Organisme</dt>
                <dd v-if="s.organismmember_set.length > 0">
                  <span data-toggle="tooltip" :title="s.organismmember_set[0].organism.label">[[s.organismmember_set[0].organism.short_label || s.organismmember_set[0].organism.label  ]]</span>

                  ([[s.organismmember_set[0].member_level.label]])
                </dd>
                <dt>Actif</dt>
                <dd>
                  <span class="label" :class="s.is_active ? 'label-success':'label-default'">[[s.is_active
                    ?
                    'Oui':'Non']]</span>
                </dd>
                <dt>CGU acceptées</dt>
                <dd>
                  <span class="label" :class="s.gcu_accepted? 'label-success':'label-warning'">[[s.gcu_accepted?
                    'Oui':'Non']]</span>
                </dd>
              </dl>
            </div>

            <div class="col col-md-6">
              <dl class="dl-horizontal">
                <dt>Responsable local</dt>
                <dd v-if="s.resp_areas.length > 0">
                  <span v-for="(t,i) in s.resp_areas">
                    <span class="label label-primary">[[t.code]]-[[t.name]]</span>
                  </span>
                </dd>
                <dd v-else>
                  <span class="label label-default">Non</span>
                </dd>
                <dt>Peut voir toutes les données</dt>
                <dd>
                  <span class="label" :class="s.access_all_data ? 'label-success':'label-default'">[[s.access_all_data?
                    'Oui':'Non']]</span>
                </dd>
                <dt>Peut éditer toutes les données</dt>
                <dd>
                  <span class="label" :class="s.edit_all_data ? 'label-success':'label-default'">[[s.edit_all_data?
                    'Oui':'Non']]</span>
                </dd>
                <dt>Peut exporter toutes les données</dt>
                <dd>
                  <span class="label" :class="s.export_all_data ? 'label-success':'label-default'">[[s.export_all_data?
                    'Oui':'Non']]</span>
                </dd>
                <dt>Super-utilisateur</dt>
                <dd>
                  <span class="label" :class="s.is_superuser? 'label-success':'label-default'">[[s.is_superuser?
                    'Oui':'Non']]</span>
                </dd>

              </dl>

            </div>
            <div class="col col-lg-12">
              <p><strong>Organisme</strong></p>
                <p v-for="om in s.organismmember_set" key='om.id'>
                  <strong>[[om.organism.short_label]]</strong> ([[om.organism.label]] - <code>[[om.organism.uuid]]</code>) : <strong>[[om.member_level.label]]</strong>
                </p>

            </div>
          </div>

        </div>
      </div>
      <div>
        <div class="btn-group pull-right">
          <div :disabled="!data.previous" class="btn btn-default" @click="pagination_url = data.previous">Précédent
          </div>
          <div :disabled="!data.next" class="btn btn-default" @click="pagination_url = data.next">Suivant</div>
        </div>
      </div>
      <switch-active-status @close="switchUserStatusModal = false" v-if="switchUserStatusModal" :data="itemData">
      </switch-active-status>
    </div>
  </div>
  {% comment %}
  <pre>[[ usersList.find(e => true) ]]</pre> {% endcomment %}
</div>

<script>
  const myId = parseInt("{{user.id}}")
  const rootApiUrl = "{% url 'accounts:profile_list_api' %}"
  $(document).ready(() => {
    const vm = new Vue(UserListApp(myId, rootApiUrl))
  })

</script>
{% endblock %}
