{% extends 'base.html' %}
{% load i18n %}
{% block title %} Accueil {% endblock %}
{% block content %}

<div class="row" style="text-align:center;font-size:2rem;">
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="statBlock">
      <i class="text-muted fas fa-map-marked-alt fa-2x"></i><br>
      <span class="statCount">{{ placescount }}</span><br>
      <span class="statDesc text-muted"> {{ placestext }}</span><br>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="statBlock">
      <i class="text-muted fas fa-calendar-check   fa-2x "></i><br>
      <span class="statCount">{{ sessionscount }}</span><br>
      <span class="statDesc text-muted"> {{ sessionstext }}</span><br>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="statBlock">
      <i class="text-muted fas fa-eye fa-2x"></i><br>
      <span class="statCount">{{ sightingscount }}</span><br>
      <span class="statDesc text-muted"> {{ sightingstext }}</span><br>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="statBlock">
      <i class="text-muted fas fa-users fa-2x"></i><br>
      <span class="statCount">{{ observerscount }}</span><br>
      <span class="statDesc text-muted"> {{ observerstext }}</span><br>
    </div>
  </div>
</div>
{% if user.is_authenticated %}

<div class="row" style="text-align:center;font-size:2rem;">
  <div class="col-xs-12 col-sm-4">
    <a href="{% url 'accounts:myprofile_detail' %}" class="btn btn-warning btn-lg  btn-block">
      <i class="fa fa-user"></i> Mon profil
    </a>
  </div>
  <div class="col-xs-12 col-sm-4">
    <a href="{% url 'sights:place_search' %}" class="btn btn-success btn-lg  btn-block">
      <i class="fa fa-map"></i> Saisir
    </a>
  </div>
  <div class="col-xs-12 col-sm-4">
    <a href="{% url 'exports:export_list' %}" class="btn btn-info btn-lg  btn-block">
      <i class="fa fa-download"></i>  {% trans 'Mes exports' %}
    </a>
  </div>
</div>
<div class="row" id="synthesisHomePage" style="text-align:center;font-size:2rem;">
  <div class="col-xs-12 col-md-4">
      <a class="btn btn-primary btn-block" href="{% url 'synthesis:global_contrib' %}"> Statistiques générales</a>
  </div>
  <div class="col-xs-12 col-md-4">
      <a class="btn btn-primary btn-block" href="{% url 'synthesis:specie_distribution' %}"> Carte de répartitions</a>
  </div>
  <div class="col-xs-12 col-md-4">
    <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#homeAreaSearch">
      <i class="fas fa-search-location"></i> {% trans 'Zonages' %}
    </a>
  </div>
</div>
{% else %}
<div class="row" style="text-align:center;font-size:2rem;">
  <div class="col-xs-12">
    <a href="{% url 'auth_login' %}" class="btn btn-info btn-lg  btn-block" alt="{% trans 'Se connecter' %}"><i
        class="fa fa-fw fa-sign-in-alt" aria-hidden="true"></i>
      {% trans 'Se connecter' %}</a>
  </div>
</div>
{% endif %}
<h1>
  <i class="{{ icon | safe }}"></i> {{ title }}
</h1>
<div class="row">
  <div class="col-lg-12">
    {% for object in object_list %}
    <div class="panel panel-default panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title"><a href="{% url 'blog:news_detail' pk=object.id_actu %}"><i class="fi-align-left"></i>
            {{ object.title }}</a></h2>
      </div>
      <div class="panel-body">
        <p>
          <small>
            {% if user.is_resp or user.access_all_data or user.edit_all_data or user.is_staff or user.is_superuser %}
            <a href="{% url 'blog:news_update' pk=object.id_actu %}" class="btn btn-xs btn-primary"><i
                class="fa fa-fw fa-edit"></i></a> {% endif %}
            créé le <b>{{ object.timestamp_create }}</b>
            par <b>{{ object.created_by }}</b>
            {% if object.updated_by %}| mis à jour le {{ object.timestamp_update }} par
            {{ object.updated_by.full_name }}{% endif %}
          </small>
        </p>
        <div class="well well-sm">{{ object.briefdescr|safe }}</div>
        <p class="text-right"><a href="{% url 'blog:news_detail' pk=object.id_actu %}"
            class="btn btn-sm btn-primary">Lire la suite
            ...</a></p>
      </div>
    </div>
    {% empty %}
    <div class="well">
      <div class="columns callout">Aucune actualité pour le moment.</div>
    </div>
    {% endfor %}
    {% if is_paginated %}
    <div class="columns ">
      <a class="pull-right btn btn-success"
        href="{% url 'blog:news_list' %}">{% trans 'Voir toutes les actualités' %}</a>
    </div>
    {% endif %}
  </div>
  <div id="homeAreaSearch" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><i class="fas fa-fw fa-search-location"></i>{% trans 'Rechercher rapide une localité' %}
          </h4>
        </div>
        <div class="modal-body">
          <form id="areaSearch">

    <div class="form-group">
      <label class="control-label" for="Area">Zonage</label>
      <p class="help-block">limites administratives, espaces naturels, etc.</p>
      <dict-select :options="dicts.AreaType" v-model="area_type" placeholder="Type de zonage"/>
    </div>
    <div class="form-group">
      <area-select id="Area" class="form-control" v-model="id" :areatype='area_type' />
    </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">{% trans 'Fermer' %}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(() => {
    const vm = new Vue(homeAreaSearch())
  })
</script>
{% endblock %}
