{% extends "base.html" %} {% block title %}Export {{object.id}}
({{object.timestamp_create}}){% endblock %} {% block content %}

<div id="ExportDetail">
    <h1>
        <i class="fa fa-download"></i>
        Export [[data.id]] du [[data.timestamp_create]]
    </h1>

    <div class="row">
        <div id="exportDetailLoader" align="center">
            <a
                v-if="data.export_file"
                class="btn btn-lg btn-success"
                :href="data.export_file"
                >Télécharger</a
            >
            <div v-else>
                <div id="spinnerText" align="center"><div id="spinner"></div> Chargement en cours...</div>
            </div>
        </div>
        <div v-if="data.search_qs">
            <h2>Critères de recherche</h2>
            <ul>
                <li v-for="k in Object.keys(data.search_qs)">
                    <strong>[[k]]</strong>: <code>[[ data.search_qs[k] ]]</code>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
    const dataUrl = "{% url 'exports:exports-detail' pk=object.pk %}"

    $(document).ready(() => {
        const vm = new Vue(genericApiVue(dataUrl, '#ExportDetail', true))
    })
</script>

{% endblock %}
